examples/Eta example.json
[
    {
        "id": "f2648f85fbbb86bd",
        "type": "inject",
        "z": "09ae5973e7f93b91",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "eta Test",
        "payloadType": "str",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "4bf2ff6237428e93"
            ]
        ]
    },
    {
        "id": "ee70eda1c88d1c1b",
        "type": "debug",
        "z": "09ae5973e7f93b91",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "4bf2ff6237428e93",
        "type": "etaTemplate",
        "z": "09ae5973e7f93b91",
        "name": "",
        "templates": [
            {
                "id": "__root__",
                "label": "__root__",
                "template": "<% /*\r\n\tThis is the Eta root template.\r\n\tYou may add further templates to define\r\n\tpartials or layouts.\r\n\tCheck https://eta.js.org for syntax\r\n\tsupport.\r\n*/ _%>\r\n<%_~ include('myPartial', {msg: it.msg}) _%>\r\n "
            },
            {
                "id": "myPartial",
                "label": "myPartial",
                "template": "<% /* myPartial */ %>\r\n<%_ = it.msg.payload + \" @ partial!\" _%>\r\n\r\n"
            }
        ],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "ee70eda1c88d1c1b"
            ]
        ]
    }
]